{# Display a facet elements as checkboxes #}

{% set facet_selector_class = facet.id %}
{% set facet_selected_class = "checked" %}

{% include template_css with {'plugin_dir_url': plugin_dir_url} %}
{% include template_js with {'plugin_dir_url': plugin_dir_url, 'facet_selector_class': facet_selector_class} %}


<ul data-wpsolr-facet-description="{{ facet_definition|json_encode }}"
    class="wpsolr_any_facet_filter_class {{ facet_selector_class }}">

    {% for item in items %} {# Loop on facet items #}

        {% if item.selected %}

            {% set data_wpsolr_facet = wpsolr_create_data_facet(facet, item) %}

            <li>
                <a class="{{ facet_selector_class }} {{ item.selected ? facet_selected_class : "" }}"
                   data-wpsolr-facet-item-value="{{ data_wpsolr_facet|json_encode }}">
                    {{ item.label }}
                </a> {# Current facet item #}
            </li>

        {% endif %}

    {% endfor %} {# Loop on facet items #}

</ul>

