{# Shared Facets template #}

<div class="{{ ui_id }}" id="res_filters">
    <span class="wpsolr_error_ajax"></span>

    {{ widget_args.before_widget| raw }} {# Before widget HTML #}

    {{ widget_args.before_title| raw }} {# Before title HTML #}
    {{ facets_header }} {# Title 'Filters' #}
    {{ widget_args.after_title| raw }} {# After title HTML #}

    {% for facet in facets.facets %} {# Loop on facets #}

        {% include facet.template_html with {'facets_element': facets_element, 'facets_title': facets_title, 'facet_definition': facet.definition, 'items': facet.items, 'plugin_dir_url': plugin_dir_url, 'template_css': facet.template_css, 'template_js': facet.template_js} %}

    {% endfor %} {# Loop on facets #}

</div>

{{ widget_args.after_widget| raw }} {# After widget HTML #}